* {
    font-family: monospace;
    /**/
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    /**/
    margin: 0px;
    padding: 0px;
    gap: 0px;
}
body {
    height: 100vh;
    width: 100vw;
    background: url("../assets/website-background.jpg") center/cover;
    /**/
    display: flex;
    flex-wrap: wrap;
}





.div-navigation {
    height: 60px;
    width: 100%;
    background: rgba(100, 50, 0, 0.75);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#div-inventory {
    background: rgba(33, 0, 33, 0.75);
}
#div-checkout {
    font-size: 28px;
    font-weight: bold;
    color: rgba(200, 200, 200, 0.75);
    /**/
    background: rgba(33, 0, 0, 0.75);
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    /**/
    padding: 4px;
    gap: 4px;
}
@media (max-width: 540px) {
    #div-inventory {
        height: 180px;
        width: 100%;
        /**/
        display: flex;
        /**/
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        scrollbar-width: none;
    }
    #div-inventory::-webkit-scrollbar {
        display: none;
    }
    .div-inventory_slot {
        flex: 0 0 auto;
    }
    #div-checkout {
        height: calc(100% - 240px);
        width: 100%;
    }
}
@media (min-width: 541px) {
    #div-inventory {
        height: calc(100% - 60px);
        width: 180px;
        /**/
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        /**/
        overflow-x: hidden;
        overflow-y: auto;
        white-space: nowrap;
        scrollbar-width: none;
    }
    #div-inventory::-webkit-scrollbar {
        display: none;
    }
    .div-inventory_slot {
        flex: 0 0 auto;
    }
    #div-checkout {
        height: calc(100% - 60px);
        width: 360px;
    }
}





.div-inventory_slot {
    height: 180px;
    width: 180px;
    background: rgba(0, 0, 0, 0.25);
    padding: 4px;
}
.div-inventory_slot:hover {
    cursor: pointer;
}




.div-clear_list {
    font-size: 16px;
    font-weight: bold;
    color: rgba(55, 55, 55, 0.75);
    /**/
    height: 28px;
    width: 64px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.5);
}
.div-clear_list:hover {
    cursor: pointer;
}





.div-exit_logs {
    font-size: 16px;
    font-weight: bold;
    color: rgba(55, 55, 55, 0.75);
    /**/
    height: 28px;
    width: 100px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.5);
}
.div-exit_logs:hover {
    cursor: pointer;
}